<a href="https://colab.research.google.com/github/WandersonGustavo/Udemy_Data_Science/blob/main/dnit_dados2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [ ]:
base=pd.read_csv('icm_-01-2023-transparencia.csv',on_bad_lines='skip',sep=";")

In [ ]:
base.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','Observação','ICMNP']

In [ ]:
base2=pd.read_csv('icm_12_2022.csv',on_bad_lines='skip',sep=";")

In [ ]:
base2.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','ICC','ICP','ICM']

In [ ]:
#AGUPAR E EXIBIR DADOS DA BAHIA
dadosBahia22=base2.groupby(['UF'])
dadosBahia22
dadosBahia22.get_group('BA')
lat22BA=dadosBahia22.head(31)

In [ ]:
dadosBahia23=base.groupby(['UF'])
dadosBahia23=dadosBahia23.get_group('BA')
dadosBahia23.describe()

In [ ]:
#latitude dos trechos baianos
longitude=base.groupby(['Longitude'])
lon23BA=dadosBahia23
lon23BA.Longitude.head(31)
lon23BA.describe

In [ ]:

icmnp=base.groupby(['ICMNP'])
i23BA=dadosBahia23
#lat23BA.Latitude.head(31)
i23BA.describe

In [ ]:
dadosBahia22=base2.groupby(['UF'])
dadosBahia22=lat22BA
dadosBahia22.describe()

In [ ]:
icm=base2.groupby(['ICM'])
icm22BA=dadosBahia22.describe()
#icm22BA.ICM.head(31)
icm22BA.describe

In [ ]:
indice23=base.groupby(['ICMNP'])
dadosBahia23=i23BA
yy=dadosBahia23
yy.describe()

In [ ]:
dadosBahia22=lat22BA
xx=dadosBahia22
xx.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
count,714,714,714,714,714,714,714,714,714,714,714
unique,24,24,404,392,17,16,238,236,20,32,117
top,MS,BR-101,"2,000","1,000","1,000",06/12/2022,0,0,"25,000","0,000","7,500"
freq,31,93,11,11,679,124,75,75,229,201,62

In [ ]:
#
a="12,5"
b=a.replace(",",".")
b1=float(b)
b1

12.5

In [ ]:
#TRANSFORMAÇÃO DOS DADOS DE STRING PRA FLOAT AGR PODE CORRELACIONAR
i23BA['ICMNP']=i23BA['ICMNP'].apply(lambda x: str(x).replace(",",".") )
i23BA['ICMNP']=i23BA['ICMNP'].astype('float64')

In [ ]:
#******************************************''DADOS DE 2022 ABAIXO''***********************************************************************
lon23BA['Longitude']=lon23BA['Longitude'].apply(lambda x: str(x).replace(",",".") )
lon23BA['Longitude']=lon23BA['Longitude'].astype('float64')