<a href="https://colab.research.google.com/github/WandersonGustavo/Udemy_Data_Science/blob/main/dnit_dados2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [ ]:
base=pd.read_csv('icm_-01-2023-transparencia.csv',on_bad_lines='skip',sep=";")

In [ ]:
base.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','Observação','ICMNP']

In [ ]:
base2=pd.read_csv('icm_12_2022.csv',on_bad_lines='skip',sep=";")

In [ ]:
base2.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','ICC','ICP','ICM']

In [ ]:
#AGUPAR E EXIBIR DADOS DA BAHIA
dadosBahia22=base2.groupby(['UF'])
dadosBahia22
dadosBahia22.get_group('BA')
lat22BA=dadosBahia22.head(31)

In [ ]:
dadosBahia23=base.groupby(['UF'])
dadosBahia23=dadosBahia23.get_group('BA')
dadosBahia23.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
count,31,31,31,31,31,31,31,31,0,31
unique,1,1,31,31,6,1,8,8,0,19
top,BA,BR-135,"205,800","206,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
freq,31,31,1,1,24,31,22,22,NaN,6

In [ ]:
#latitude dos trechos baianos
longitude=base.groupby(['Longitude'])
lon23BA=dadosBahia23
lon23BA.Longitude.head(31)
lon23BA.describe

In [ ]:

icmnp=base.groupby(['ICMNP'])
i23BA=dadosBahia23
#lat23BA.Latitude.head(31)
i23BA.describe

In [ ]:
dadosBahia22=base2.groupby(['UF'])
dadosBahia22=lat22BA
dadosBahia22.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
count,714,714,714,714,714,714,714,714,714,714,714
unique,24,24,404,392,17,16,238,236,20,32,117
top,MS,BR-101,"2,000","1,000","1,000",06/12/2022,0,0,"25,000","0,000","7,500"
freq,31,93,11,11,679,124,75,75,229,201,62

In [ ]:
icm=base2.groupby(['ICM'])
icm22BA=dadosBahia22.describe()
#icm22BA.ICM.head(31)
icm22BA.describe

<bound method NDFrame.describe of          UF Rodovia km inicial km final Extensão (km)        Data Latitude  \
count   714     714        714      714           714         714      714
unique   24      24        404      392            17          16      238
top      MS  BR-101      2,000    1,000         1,000  06/12/2022        0
freq     31      93         11       11           679         124       75

       Longitude     ICC    ICP    ICM
count        714     714    714    714
unique       236      20     32    117
top            0  25,000  0,000  7,500
freq          75     229    201     62  >

In [ ]:
indice23=base.groupby(['ICMNP'])
dadosBahia23=i23BA
yy=dadosBahia23
yy.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
count,31,31,31,31,31,31,31,31,0,31
unique,1,1,31,31,6,1,8,8,0,19
top,BA,BR-135,"205,800","206,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
freq,31,31,1,1,24,31,22,22,NaN,6

In [ ]:
dadosBahia22=lat22BA
xx=dadosBahia22
xx.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
count,714,714,714,714,714,714,714,714,714,714,714
unique,24,24,404,392,17,16,238,236,20,32,117
top,MS,BR-101,"2,000","1,000","1,000",06/12/2022,0,0,"25,000","0,000","7,500"
freq,31,93,11,11,679,124,75,75,229,201,62

In [ ]:
#
a="12,5"
b=a.replace(",",".")
b1=float(b)
b1

12.5

In [ ]:
#TRANSFORMAÇÃO DOS DADOS DE STRING PRA FLOAT AGR PODE CORRELACIONAR
i23BA['ICMNP']=i23BA['ICMNP'].apply(lambda x: str(x).replace(",",".") )
i23BA['ICMNP']=i23BA['ICMNP'].astype('float64')

<ipython-input-14-ea7974fafb66>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i23BA['ICMNP']=i23BA['ICMNP'].apply(lambda x: str(x).replace(",",".") )
<ipython-input-14-ea7974fafb66>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i23BA['ICMNP']=i23BA['ICMNP'].astype('float64')

In [ ]:
#******************************************''DADOS DE 2022 ABAIXO''***********************************************************************
lon23BA['Longitude']=lon23BA['Longitude'].apply(lambda x: str(x).replace(",",".") )
lon23BA['Longitude']=lon23BA['Longitude'].astype('float64')

<ipython-input-15-0a99abfb96a8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lon23BA['Longitude']=lon23BA['Longitude'].apply(lambda x: str(x).replace(",",".") )
<ipython-input-15-0a99abfb96a8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lon23BA['Longitude']=lon23BA['Longitude'].astype('float64')

In [ ]:
xx = i23BA.iloc[:, 6].values
yy = lon23BA.iloc[:, 7].values

In [ ]:
yy=yy.reshape(31,1)
xx=xx.reshape(31,1)

In [ ]:
#error = latitude10valores22 - latitude10valores23
#squared_error = error**2

In [ ]:
#rmse = np.sqrt(mean_squared_error(,))
#print("RMSE:", rmse)

In [ ]:
#rmsle = np.sqrt(mean_squared_log_error(lat22BA,lat23BA))
#print("RMSLE:", rmsle)