<a href="https://colab.research.google.com/github/WandersonGustavo/Udemy_Data_Science/blob/main/dnit_dados2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [ ]:
base=pd.read_csv('icm_-01-2023-transparencia.csv',on_bad_lines='skip',sep=";")

In [ ]:
base.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','Observação','ICMNP']

In [ ]:
base2=pd.read_csv('icm_12_2022.csv',on_bad_lines='skip',sep=";")

In [ ]:
base2.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','ICC','ICP','ICM']

In [ ]:
#AGUPAR E EXIBIR DADOS DA BAHIA
dadosBahia22=base2.groupby(['UF'])
dadosBahia22
dadosBahia22.get_group('BA')
lat22BA=dadosBahia22.head(31)

In [ ]:
dadosBahia23=base.groupby(['UF'])
dadosBahia23=dadosBahia23.get_group('BA')
dadosBahia23.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
count,31,31,31,31,31,31,31,31,0,31
unique,1,1,31,31,6,1,8,8,0,19
top,BA,BR-135,"205,800","206,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
freq,31,31,1,1,24,31,22,22,NaN,6

In [ ]:
#latitude dos trechos baianos
longitude=base.groupby(['Longitude'])
lon23BA=dadosBahia23
lon23BA.Longitude.head(31)
lon23BA.describe

<bound method NDFrame.describe of       UF Rodovia km inicial km final Extensão (km)        Data     Latitude  \
1383  BA  BR-135    205,800  206,000         0,200  24/01/2023  -12.3564116
1384  BA  BR-135    206,000  207,000         1,000  24/01/2023  -12.3693466
1385  BA  BR-135    207,000  208,000         1,000  24/01/2023  -12.3693466
1386  BA  BR-135    208,000  209,000         1,000  24/01/2023  -12.3693466
1387  BA  BR-135    209,000  210,000         1,000  24/01/2023  -12.3693466
1388  BA  BR-135    210,000  211,000         1,000  24/01/2023  -12.3693466
1389  BA  BR-135    211,000  212,000         1,000  24/01/2023  -12.3693466
1390  BA  BR-135    212,000  213,000         1,000  24/01/2023  -12.3693466
1391  BA  BR-135    213,000  214,000         1,000  24/01/2023  -12.3693466
1392  BA  BR-135    214,000  215,000         1,000  24/01/2023  -12.3693466
1393  BA  BR-135    215,000  216,000         1,000  24/01/2023  -12.3693466
1394  BA  BR-135    216,000  217,000         1,000  24/01/2023  -12.3693466
1395  BA  BR-135    217,000  218,000         1,000  24/01/2023  -12.3693466
1396  BA  BR-135    218,000  219,000         1,000  24/01/2023  -12.3693466
1397  BA  BR-135    219,000  220,000         1,000  24/01/2023  -12.3693466
1398  BA  BR-135    220,000  221,000         1,000  24/01/2023  -12.3693466
1399  BA  BR-135    221,000  222,000         1,000  24/01/2023  -12.3693466
1400  BA  BR-135    222,000  223,000         1,000  24/01/2023  -12.3693466
1401  BA  BR-135    223,000  224,000         1,000  24/01/2023  -12.3693466
1402  BA  BR-135    224,000  225,000         1,000  24/01/2023  -12.3693466
1403  BA  BR-135    225,000  226,000         1,000  24/01/2023  -12.3693466
1404  BA  BR-135    226,000  227,000         1,000  24/01/2023  -12.3693466
1405  BA  BR-135    227,000  228,000         1,000  24/01/2023  -12.3693466
1406  BA  BR-135    306,500  307,000         0,500  24/01/2023  -13.0440416
1407  BA  BR-135    307,000  307,100         0,100  24/01/2023  -13.0459504
1408  BA  BR-135    319,800  320,000         0,200  24/01/2023  -13.1542816
1409  BA  BR-135    320,000  321,000         1,000  24/01/2023  -13.1573666
1410  BA  BR-135    321,000  321,200         0,200  24/01/2023  -13.1573666
1411  BA  BR-135    323,400  324,000         0,600  24/01/2023   -13.165705
1412  BA  BR-135    324,000  325,000         1,000  24/01/2023  -13.1830766
1413  BA  BR-135    325,000  325,300         0,300  24/01/2023  -13.1830766

      Longitude Observação   ICMNP
1383 -12.356412        NaN  30,000
1384 -12.369347        NaN  35,000
1385 -12.369347        NaN  53,750
1386 -12.369347        NaN  47,500
1387 -12.369347        NaN  50,000
1388 -12.369347        NaN  53,750
1389 -12.369347        NaN  65,000
1390 -12.369347        NaN  76,250
1391 -12.369347        NaN  61,250
1392 -12.369347        NaN  76,250
1393 -12.369347        NaN  68,750
1394 -12.369347        NaN  71,250
1395 -12.369347        NaN  76,250
1396 -12.369347        NaN  68,750
1397 -12.369347        NaN  83,750
1398 -12.369347        NaN  72,500
1399 -12.369347        NaN  76,250
1400 -12.369347        NaN  73,750
1401 -12.369347        NaN  83,750
1402 -12.369347        NaN  72,500
1403 -12.369347        NaN  76,250
1404 -12.369347        NaN  66,250
1405 -12.369347        NaN  76,250
1406 -13.044042        NaN   0,000
1407 -13.045950        NaN   0,000
1408 -13.154282        NaN   3,750
1409 -13.157367        NaN   3,750
1410 -13.157367        NaN   3,750
1411 -13.165705        NaN  52,500
1412 -13.183077        NaN  20,000
1413 -13.183077        NaN  17,500  >

In [ ]:

icmnp=base.groupby(['ICMNP'])
i23BA=dadosBahia23
#lat23BA.Latitude.head(31)
i23BA.describe

<bound method NDFrame.describe of       UF Rodovia km inicial km final Extensão (km)        Data   Latitude  \
1383  BA  BR-135    205,800  206,000         0,200  24/01/2023 -12.356412
1384  BA  BR-135    206,000  207,000         1,000  24/01/2023 -12.369347
1385  BA  BR-135    207,000  208,000         1,000  24/01/2023 -12.369347
1386  BA  BR-135    208,000  209,000         1,000  24/01/2023 -12.369347
1387  BA  BR-135    209,000  210,000         1,000  24/01/2023 -12.369347
1388  BA  BR-135    210,000  211,000         1,000  24/01/2023 -12.369347
1389  BA  BR-135    211,000  212,000         1,000  24/01/2023 -12.369347
1390  BA  BR-135    212,000  213,000         1,000  24/01/2023 -12.369347
1391  BA  BR-135    213,000  214,000         1,000  24/01/2023 -12.369347
1392  BA  BR-135    214,000  215,000         1,000  24/01/2023 -12.369347
1393  BA  BR-135    215,000  216,000         1,000  24/01/2023 -12.369347
1394  BA  BR-135    216,000  217,000         1,000  24/01/2023 -12.369347
1395  BA  BR-135    217,000  218,000         1,000  24/01/2023 -12.369347
1396  BA  BR-135    218,000  219,000         1,000  24/01/2023 -12.369347
1397  BA  BR-135    219,000  220,000         1,000  24/01/2023 -12.369347
1398  BA  BR-135    220,000  221,000         1,000  24/01/2023 -12.369347
1399  BA  BR-135    221,000  222,000         1,000  24/01/2023 -12.369347
1400  BA  BR-135    222,000  223,000         1,000  24/01/2023 -12.369347
1401  BA  BR-135    223,000  224,000         1,000  24/01/2023 -12.369347
1402  BA  BR-135    224,000  225,000         1,000  24/01/2023 -12.369347
1403  BA  BR-135    225,000  226,000         1,000  24/01/2023 -12.369347
1404  BA  BR-135    226,000  227,000         1,000  24/01/2023 -12.369347
1405  BA  BR-135    227,000  228,000         1,000  24/01/2023 -12.369347
1406  BA  BR-135    306,500  307,000         0,500  24/01/2023 -13.044042
1407  BA  BR-135    307,000  307,100         0,100  24/01/2023 -13.045950
1408  BA  BR-135    319,800  320,000         0,200  24/01/2023 -13.154282
1409  BA  BR-135    320,000  321,000         1,000  24/01/2023 -13.157367
1410  BA  BR-135    321,000  321,200         0,200  24/01/2023 -13.157367
1411  BA  BR-135    323,400  324,000         0,600  24/01/2023 -13.165705
1412  BA  BR-135    324,000  325,000         1,000  24/01/2023 -13.183077
1413  BA  BR-135    325,000  325,300         0,300  24/01/2023 -13.183077

      Longitude Observação   ICMNP
1383 -12.356412        NaN  30,000
1384 -12.369347        NaN  35,000
1385 -12.369347        NaN  53,750
1386 -12.369347        NaN  47,500
1387 -12.369347        NaN  50,000
1388 -12.369347        NaN  53,750
1389 -12.369347        NaN  65,000
1390 -12.369347        NaN  76,250
1391 -12.369347        NaN  61,250
1392 -12.369347        NaN  76,250
1393 -12.369347        NaN  68,750
1394 -12.369347        NaN  71,250
1395 -12.369347        NaN  76,250
1396 -12.369347        NaN  68,750
1397 -12.369347        NaN  83,750
1398 -12.369347        NaN  72,500
1399 -12.369347        NaN  76,250
1400 -12.369347        NaN  73,750
1401 -12.369347        NaN  83,750
1402 -12.369347        NaN  72,500
1403 -12.369347        NaN  76,250
1404 -12.369347        NaN  66,250
1405 -12.369347        NaN  76,250
1406 -13.044042        NaN   0,000
1407 -13.045950        NaN   0,000
1408 -13.154282        NaN   3,750
1409 -13.157367        NaN   3,750
1410 -13.157367        NaN   3,750
1411 -13.165705        NaN  52,500
1412 -13.183077        NaN  20,000
1413 -13.183077        NaN  17,500  >

In [ ]:
dadosBahia22=base2.groupby(['UF'])
dadosBahia22=lat22BA
dadosBahia22.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
count,714,714,714,714,714,714,714,714,714,714,714
unique,24,24,404,392,17,16,238,236,20,32,117
top,MS,BR-101,"2,000","1,000","1,000",06/12/2022,0,0,"25,000","0,000","7,500"
freq,31,93,11,11,679,124,75,75,229,201,62

In [ ]:
icm=base2.groupby(['ICM'])
icm22BA=dadosBahia22.describe()
#icm22BA.ICM.head(31)
icm22BA.describe

<bound method NDFrame.describe of        UF  Rodovia  km inicial  km final  Extensão (km)        Data  \
3      UF  Rodovia  km inicial  km final  Extensão (km)        Data
6      PA   BR-230     115,000   116,000          1,000  23/12/2022
7      PA   BR-230     116,000   117,000          1,000  23/12/2022
8      PA   BR-230     117,000   118,000          1,000  23/12/2022
9      PA   BR-230     118,000   119,000          1,000  23/12/2022
...    ..      ...         ...       ...            ...         ...
36120  AP   BR-210      17,000    18,000          1,000  21/12/2022
36121  AP   BR-210      18,000    19,000          1,000  21/12/2022
36122  AP   BR-210      19,000    20,000          1,000  21/12/2022
36123  AP   BR-210      20,000    21,000          1,000  21/12/2022
36124  AP   BR-210      21,000    22,000          1,000  21/12/2022

         Latitude    Longitude     ICC     ICP     ICM
3        Latitude    Longitude     ICC     ICP     ICM
6      -5.1413601  -49,3520482  25,000   0,000   7,500
7      -5.1413601  -49,3520482  25,000   0,000   7,500
8      -5.1413601  -49,3520482  25,000   0,000   7,500
9      -5.1413601  -49,3520482  25,000   0,000   7,500
...           ...          ...     ...     ...     ...
36120   0.1779826  -51,1240224  32,500  10,000  16,750
36121   0.1779826  -51,1240224  32,500  10,000  16,750
36122   0.1779826  -51,1240224  32,500  10,000  16,750
36123   0.1779826  -51,1240224  32,500  10,000  16,750
36124   0.1779826  -51,1240224  32,500  10,000  16,750

[714 rows x 11 columns]>

In [ ]:
indice23=base.groupby(['Latitude'])
dadosBahia23=lat23BA
yy=dadosBahia23
yy.describe()

       Longitude
count  31.000000
mean  -12.566868
std     0.342554
min   -13.183077
25%   -12.706694
50%   -12.369347
75%   -12.369347
max   -12.356412

In [ ]:
dadosBahia22=lat22BA
xx=dadosBahia22
xx.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
count,714,714,714,714,714,714,714,714,714,714,714
unique,24,24,404,392,17,16,238,236,20,32,117
top,MS,BR-101,"2,000","1,000","1,000",06/12/2022,0,0,"25,000","0,000","7,500"
freq,31,93,11,11,679,124,75,75,229,201,62

In [ ]:
#
a="12,5"
b=a.replace(",",".")
b1=float(b)
b1

12.5

In [ ]:
#TRANSFORMAÇÃO DOS DADOS DE STRING PRA FLOAT AGR PODE CORRELACIONAR
lat23BA['Latitude']=lat23BA['Latitude'].apply(lambda x: str(x).replace(",",".") )
lat23BA['Latitude']=lat23BA['Latitude'].astype('float64')

In [ ]:
#******************************************''DADOS DE 2022 ABAIXO''***********************************************************************
lon23BA['Longitude']=lon23BA['Longitude'].apply(lambda x: str(x).replace(",",".") )
lon23BA['Longitude']=lon23BA['Longitude'].astype('float64')

In [ ]:
xx = lat23BA.iloc[:, 6].values
yy = lon23BA.iloc[:, 7].values

In [ ]:
yy=yy.reshape(31,1)
xx=xx.reshape(31,1)

In [ ]:
correlacao = np.corrcoef(x,y)
correlacao

In [ ]:
#error = latitude10valores22 - latitude10valores23
#squared_error = error**2

In [ ]:
#rmse = np.sqrt(mean_squared_error(,))
#print("RMSE:", rmse)

In [ ]:
#rmsle = np.sqrt(mean_squared_log_error(lat22BA,lat23BA))
#print("RMSLE:", rmsle)