<a href="https://colab.research.google.com/github/WandersonGustavo/Udemy_Data_Science/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
x=10
print(type(x))

<class 'int'>

In [ ]:
x=('Digite valor')
i=input(x)
print(i)
var=str(i)#convertendo int pra str
print(var)

Digite valor10
10
10

In [ ]:
x=('Digite valor int')
f=input(x)
print(float(f))

Digite valor int10
10.0

In [ ]:
nota=6.8
if(nota>=7.0):
    print('APR')

else:
    print('REP')

REP

In [ ]:
lst=[1,2,3,4,5]
print (lst)#printando lista

[1, 2, 3, 4, 5]

In [ ]:
#lista com range
lst4=list(range(0,10))#lista q vai de 1 a 9
print(lst4)
print(len(lst4))#tamanho da lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
10

In [ ]:
n=0
for n in range(0,len(lst4)):
  print(lst4[n]+1)#printar elementos da lista pelo for somando 1 no indice

1
2
3
4
5
6
7
8
9
10

In [ ]:
#dicionarios,set's e conjunto
dicionario={'chave1':0,'chave2':1,'chave3':2}#chave valor
print(dicionario['chave2'])#printar valor da chave2
dicionario.keys()#pegar chaves,pra valores eh .values
del dicionario['chave2']#apagar chave
print(dicionario)

1
{'chave1': 0, 'chave3': 2}

In [ ]:
#set's
bigdata=('só','valor','pq','eh CONJUNTO')
print('só' in bigdata)#return is boolean
print(len(bigdata))#tamanho do conjunto
#elemento q ja existe ,ele ñ add 2 vzs

True
4

In [ ]:
#TUPLA=LISTA Q Ñ ALTERA,usa ()
tupla=(1,2,3,4,5)
print(tupla)

(1, 2, 3, 4, 5)

In [ ]:
#NUMPY:LIB PRA TRATAR NUMERIC DATA
import numpy as np

In [ ]:
#matrix unidimesional
nt=np.array([1,2,3,4,5])
print(type(nt))#printar type
print(nt)

<class 'numpy.ndarray'>
[1 2 3 4 5]

In [ ]:
ntInt=np.array([1,2,44,33,55])#np de int
#print(ntInt,type,dtype=np.int32)#printar lista e type e printar passando o typedele

In [ ]:
ntNewFloat=ntInt.astype(np.float64)#alterat type da array

In [ ]:
print(ntNewFloat)

[ 1.  2. 44. 33. 55.]

In [ ]:
#array multiD,matrix
multiD=np.array([[7,2,15],[5,7,10],[0,2,5]])
print(multiD)

[[ 7  2 15]
 [ 5  7 10]
 [ 0  2  5]]

In [ ]:
#criar matrix quadrada e diagonal
qdd=np.eye(4)
print(qdd)
#criar matrix zerada
print('--------------')
zerada=np.zeros([2,3])#passando num de linhas e col
print(zerada)
print('---------------')
#matrix com tds values equals one
unitaria=np.ones([3,3])#passando lines e col's
print(unitaria)

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]
--------------
[[0. 0. 0.]
 [0. 0. 0.]]
---------------
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [ ]:
#criar nums aleatorios
alt=np.random.random(5)
print(alt)
print('---------------')
#criar matrix de alt
alt2=np.random.random((4,4))
print(alt2)

[0.30326724 0.76890118 0.81486088 0.96635279 0.03420016]
---------------
[[0.33196077 0.53938904 0.64566269 0.50009455]
 [0.71371469 0.1259442  0.39616975 0.95964872]
 [0.98982679 0.60502504 0.59360642 0.74128125]
 [0.19173767 0.28094983 0.27818698 0.57241195]]

In [ ]:
print('----------------')
alt3=np.random.random((4,4))#matrix 4x4 de aleatorios
print(alt3)
print('------------------------------------')
#gerar semente de aleatorios
gnr=np.random.default_rng(1)#pra kda num no parenteses tera alt's diferentes
alt4=gnr.random(3)
print(alt4)

----------------
[[0.09628997 0.23412885 0.41437155 0.16593515]
 [0.69903922 0.80396851 0.5405314  0.1814289 ]
 [0.54621768 0.80692359 0.64238148 0.24031198]
 [0.2862803  0.36006969 0.60813914 0.34379661]]
------------------------------------
[0.51182162 0.9504637  0.14415961]

In [ ]:
#gerar matrizx com alt
alt5=gnr.integers(10,size=(3,3))#gerou de 0 a 9 ,3x3 de alt's,partindo da semente
print(alt5)

[[8 9 2]
 [3 8 4]
 [2 8 2]]

In [ ]:
l=np.array([1,2,3,4,4,4,4,4,4])#unique pra tirar repetidos
print(np.unique(l))

[1 2 3 4]

In [ ]:
#obj especificos da matrix
mtx=gnr.integers(10,size=(3,3))
print(mtx)
print(mtx.shape)#mostra formato da matrix
print(mtx[0][1])#printar elemento line=0,col=1

[[4 6 5]
 [0 0 8]
 [7 8 5]]
(3, 3)
6

In [ ]:
#.std=desvio,.mean()=media,.sum()=soma
print(mtx)
print(np.sqrt(mtx))#raiz de kda elemento da matrix

[[4 6 5]
 [0 0 8]
 [7 8 5]]
[[2.         2.44948974 2.23606798]
 [0.         0.         2.82842712]
 [2.64575131 2.82842712 2.23606798]]

In [ ]:
print(mtx)
print('-------')
print(mtx[2])#elemento da posicao passada no colchete
print('---------')
print(mtx[0,2])#elemento da posicao x line  e col x 
print('---------')
print(mtx[1:])#da posicao 1 ate o fim
print('---------')
print(mtx[-3:])#da antipenultima,ate o resto

[[4 6 5]
 [0 0 8]
 [7 8 5]]
-------
[7 8 5]
---------
5
---------
[[0 0 8]
 [7 8 5]]
---------
[[4 6 5]
 [0 0 8]
 [7 8 5]]

In [ ]:
#add e subt matrix's
m=np.array([[1,2],[2,1]])
n=np.array([[2,2],[3,3]])
print(m+n)#soma elemento da line x e col y de m e de n,só multip se tiverem mcol==nline
print('---------')
print(m+0)#soma m com matrix nula
print('---------')
x=np.arange(15).reshape((3,5))#transpor CONJUNTO(ARANGE)matrix de alt de 0 a 15 ,forma3x5
print(x.transpose(1,0))#transpondo com mtd

[[3 4]
 [5 4]]
---------
[[1 2]
 [2 1]]
---------
[[ 0  5 10]
 [ 1  6 11]
 [ 2  7 12]
 [ 3  8 13]
 [ 4  9 14]]

In [ ]:
#PANDAS
import pandas as pd
dados= pd.read_csv("Credit.csv")
dados.shape #estrutura do df = 1klines, 21col

(1000, 21)

In [ ]:
dados.describe() #resumo das numeric's col

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [ ]:
#filtrar por nome de coluna
dados[['duration']]
print("-------------")
print(dados.loc[1:3]) #flitrar linhas por indice
print("-------------")
print(dados.loc[dados['duration']>10000]) #filtrar com condicao
print("-------------") #CHECANDO COL's ATRIBUINDO VALUE's por condições
credito3=dados[['checking_status','duration']].loc[dados['credit_amount']>100000]
print(credito3)

-------------
  checking_status  duration                    credit_history  \
1        0<=X<200        48                   'existing paid'
2   'no checking'        12  'critical/other existing credit'
3              <0        42                   'existing paid'

               purpose  credit_amount savings_status employment  \
1             radio/tv           5951           <100     1<=X<4
2            education           2096           <100     4<=X<7
3  furniture/equipment           7882           <100     4<=X<7

   installment_commitment       personal_status other_parties  ...  \
1                       2  'female div/dep/mar'          none  ...
2                       2         'male single'          none  ...
3                       2         'male single'     guarantor  ...

   property_magnitude age  other_payment_plans     housing existing_credits  \
1       'real estate'  22                 none         own                1
2       'real estate'  49                 none         own                1
3    'life insurance'  45                 none  'for free'                1

                    job num_dependents  own_telephone foreign_worker class
1               skilled              1           none            yes   bad
2  'unskilled resident'              2           none            yes  good
3               skilled              2           none            yes  good

[3 rows x 21 columns]
-------------
Empty DataFrame
Columns: [checking_status, duration, credit_history, purpose, credit_amount, savings_status, employment, installment_commitment, personal_status, other_parties, residence_since, property_magnitude, age, other_payment_plans, housing, existing_credits, job, num_dependents, own_telephone, foreign_worker, class]
Index: []

[0 rows x 21 columns]
-------------
Empty DataFrame
Columns: [checking_status, duration]
Index: []

In [ ]:
#SERIE, COLUNA ÚNICA:
s1=pd.Series([2,5,3,23,44,15,78])
print(s1)#serie a partir da lista
print("-------------")

array1=np.array([1,2,4,69,35,87])#criando serie a partir da array
s2=pd.Series(array1)
print(s2)
print("-------------")
#serie vinda do DF
s3=dados['purpose']
print(s3)
type(s3)
print("-------------")
d4=dados[['purpose']]#aq eh DF
type(d4)

0     2
1     5
2     3
3    23
4    44
5    15
6    78
dtype: int64
-------------
0     1
1     2
2     4
3    69
4    35
5    87
dtype: int64
-------------
0                 radio/tv
1                 radio/tv
2                education
3      furniture/equipment
4                'new car'
              ...
995    furniture/equipment
996             'used car'
997               radio/tv
998               radio/tv
999             'used car'
Name: purpose, Length: 1000, dtype: object
-------------

pandas.core.frame.DataFrame

In [ ]:
#.rename(columns("ddd":"ddd"))forma chave valor ,atual,ql vai mudar
#replace pra mudar de lugar , dados.drop('ddd')pra excluir col
#dados.isnull.sum()=somatorio das nulas
#iloc
dados.iloc[0:3,0:9]

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single'
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar'
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single'

In [ ]:
dados.iloc[[0,1,2,3,7],0:5]#pegou linhas 0,1,2,3,7 nas colunas de 0 a4

,checking_status,duration,credit_history,purpose,credit_amount
0,<0,6,'critical/other existing credit',radio/tv,1169
1,0<=X<200,48,'existing paid',radio/tv,5951
2,'no checking',12,'critical/other existing credit',education,2096
3,<0,42,'existing paid',furniture/equipment,7882
7,0<=X<200,36,'existing paid','used car',6948

In [ ]:
#functions in python are always predicted by the short 'def' even with no paramethers ,the end of the sentence have to be with'()'